                                                    Task 2

Problem 1: Unique Words in a Sentence
Problem Statement
Given a sentence, identify all unique words and display:
The count of unique words
The unique words themselves

In [ ]:
i = input("enter the sentence: ")
y = i.split()
unique = []
for j in y:
    if y.count(j) == 1:
        unique.append(j)
print("Count:", len(unique))
print("Unique words:", unique)

enter the sentence: ram is ram not krishna . jai shree ram
Count: 6
Unique words: ['is', 'not', 'krishna', '.', 'jai', 'shree']

Problem 2: Highest Salary from Employee Data
Problem Statement
Store employee names and their salaries, and determine which employee has the highest salary.
Hint
Use a dictionary where the key is the employee name and the value is the salary.
Compare salary values to find the highest.

In [ ]:
d={}
n=int(input("enter the total number of employees"))
for i in range(n):
    name=input("enter the name of the employee:")
    salary=int(input("enter the salary of the employee:"))
    d[name]=salary

    max_salary=max(d.values())
    print("maximum salary ",max_salary)

enter the total number of employees3
enter the name of the employee:dsa
enter the salary of the employee:54
maximum salary  54
enter the name of the employee:sdfsf
enter the salary of the employee:624
maximum salary  624
enter the name of the employee:aewfa
enter the salary of the employee:632546
maximum salary  632546

Problem 3: Find Maximum and Minimum Values
Problem Statement
Find the maximum and minimum values from a list of numbers

In [ ]:
s=[10,4,25,1,42]
print("maximum number: ",max(s))
print("minimum number: ",min(s))

maximum number:  42
minimum number:  1

Problem 4: Count Products Above a Price Threshold
Problem Statement
Count how many products have a price greater than 1000.

In [ ]:
prices = [450, 1200, 899, 1500, 300]
count=0
for i in range(len(prices)):
  if prices[i]>1000 :
    count=count+1
print("number of prices above 1000 ",count)

number of prices above 1000  2

Problem 5: Calculate Attendance Percentage
Problem Statement
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [2]:
attendance = ["P", "P", "A", "P", "P","A","A"]
count=0
for i in range(len(attendance)):
  if attendance[i]=="P":
    count=count+1
    percentage=(count/len(attendance))*100
print("attendance percentage ",percentage)

attendance percentage  57.14285714285714

Problem 6: Remove Duplicate Phone Numbers
Problem Statement
You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

In [3]:
phone_numbers = ["9876543210", "9123456789", "9876543210", "9001122334", "9123456789"]
new = []
for num in phone_numbers:
    if num not in new:
        new.append(num)
print("Unique Phone Numbers are :", new)

Unique Phone Numbers are : ['9876543210', '9123456789', '9001122334']

Problem 7: Count Character Frequency
Problem Statement
Count how many times each character appears in a given string.

In [4]:
a={'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}
total = sum(a.values())

print("Total frequency of all characters:", total)

Total frequency of all characters: 7

Problem 8: Convert List to Tuple
Problem Statement
Convert a list into a tuple and display it.

In [5]:
list=[10,20,30,40]
tupple= tuple(list)
print(tupple)

(10, 20, 30, 40)

Problem 9: Check if a Key Exists in a Dictionary
Problem Statement
Check whether a specific key exists in a dictionary.

In [12]:
dictionary={'a':1,'b':2,'c':4,'d':5}
key=4
if key in dictionary.values():
     print("yes there is the key in the dictionary")
else :
    print("not found")

yes there is the key in the dictionary

Problem 10: Calculate Average Marks
Problem Statement
Calculate the average marks of a student from a list of marks.

In [17]:
marks=[48,75,42,15,78,15,92]
sum=0
for i in range(len(marks)):
  sum=sum +marks[i]
avg=sum/len(marks)
print("average marks are:",avg)

average marks are: 52.142857142857146